Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: rust-base, notify-file-change

Path conditions:
  rust-base: any of: Dockerfile.rust-base, .drone.yml
  notify-file-change: any of: engine/config/Default.toml, state-chain/types.json

Try double commands
  engine/tests/scripts/setup.sh
Due: none

Use old method
  engine/tests/scripts/setup.sh
Due: none

Set up tests with cron
  .drone.yml
Due: rust-base

Use alpine node
  .drone.yml
  Dockerfile.hardhat
Due: rust-base

changes
  state-chain/pallets/cf-governance/README.md
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-governance/src/tests.rs
Due: none

remove temp event mapper
  Cargo.lock
  engine/Cargo.toml
  engine/src/lib.rs
  engine/src/main.rs
  engine/src/state_chain/pallets/mod.rs
  engine/src/state_chain/pallets/vaults.rs
  engine/src/state_chain/runtime.rs
  engine/src/state_chain/sc_event.rs
  engine/src/state_chain/sc_observer.rs
  engine/src/temp_event_mapper.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
Due: none

Single node test on PR
  .drone.yml
  ci/single-node-test/.drone.yml
Due: rust-base

Fix deps
  ci/single-node-test/.drone.yml
Due: none

Short test with latest
  ci/single-node-test/.drone.yml
Due: none

Clean up on failure
  ci/single-node-test/.drone.yml
Due: none

Fix ns
  ci/single-node-test/.drone.yml
Due: none

changes
  state-chain/pallets/cf-governance/src/lib.rs
Due: none

Run test in ci
  ci/single-node-test/.drone.yml
Due: none

array value
  ci/single-node-test/.drone.yml
Due: none

Fix test location
  ci/single-node-test/.drone.yml
Due: none

Spawn with engine
  .drone.yml
  ci/single-node-test/.drone.yml
Due: rust-base

Initial approach at nonce counter impl in vaults
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/nonce.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-witnesser-api/src/mock.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

WIP - waiting on SC to add keyid concept
  engine/src/state_chain/pallets/vaults.rs
  engine/src/state_chain/sc_observer.rs
Due: none

Handle the error condition on receiving a vault rotation response. On failure we abort the rotation.
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-vaults/src/tests.rs
Due: none

Test to cover error received from CFE for a vault rotation response.
  state-chain/pallets/cf-vaults/src/tests.rs
Due: none

Minor (Not Functionally) Cleanup
  engine/src/eth/mod.rs
Due: none

Correct Comment
  engine/src/eth/eth_event_streamer.rs
Due: none

fmt
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
Due: none

Fix/vault types (#436)
  Cargo.lock
  engine/Cargo.toml
  engine/src/state_chain/runtime.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/types.json
Due: notify-file-change

Remove unneeded clone of web3
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/key_manager.rs
  engine/src/eth/stake_manager.rs
Due: none

All vault rotation events handled
  engine/src/state_chain/pallets/vaults.rs
  engine/src/state_chain/sc_observer.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
Due: none

Update types
  state-chain/types.json
Due: notify-file-change

Take for get and remove
  state-chain/pallets/cf-vaults/src/lib.rs
Due: none

Comment and types update
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-witnesser-api/src/mock.rs
  state-chain/traits/src/lib.rs
  state-chain/types.json
Due: notify-file-change

Run test of integration tests
  .drone.yml
Due: rust-base

use hardhat
  engine/tests/scripts/setup.sh
Due: none

Here we goooo
  engine/config/Testing.toml
Due: none

Small refactor and update type ChainIdentifier
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/traits/src/lib.rs
Due: none

fmt
  state-chain/pallets/cf-vaults/src/lib.rs
Due: none

Update types.json
  state-chain/types.json
Due: notify-file-change

Try with digital ocean
  .drone.yml
Due: rust-base
