Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: notify-file-change, rust-base

Path conditions:
  notify-file-change: any of: engine/config/Default.toml, state-chain/types.json
  rust-base: any of: Dockerfile.rust-base, .drone.yml

Remove test branch
  .drone.yml
Due: rust-base

Add notify on failure
  .drone.yml
Due: rust-base

Move integration test to own folder
  .drone.yml
  ci/integration-tests/.drone.yml
Due: rust-base

Rename
  ci/chainflip-backend-checks/.drone.yml
  ci/integration-tests/.drone.yml
Due: none

Move folders around
  .drone.yml
  ci/chainflip-backend-release/.drone.yml
  ci/chainflip-integration-tests/.drone.yml
Due: rust-base

Track the state of the network and on less than 80% online we request an emergency rotation
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-reputation/src/mock.rs
Due: none

Pull into traits crate
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

Remove unused struct in request for emergency. Integrate across runtime.
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/types.json
Due: notify-file-change

As percentage
  state-chain/traits/src/lib.rs
Due: none

Remove test branch and clean up drone files (#457)
  .drone.yml
  ci/chainflip-backend-checks/.drone.yml
  ci/chainflip-backend-release/.drone.yml
  ci/chainflip-integration-tests/.drone.yml
Due: rust-base

WIP
  engine/src/state_chain/sc_event.rs
  engine/src/state_chain/sc_observer.rs
Due: none

Update documentation
  state-chain/pallets/cf-reputation/src/lib.rs
Due: none

remove hashmap to contracts, clean up
  engine/src/eth/mod.rs
  engine/src/main.rs
  engine/src/state_chain/pallets/vaults.rs
  engine/src/state_chain/sc_observer.rs
Due: none

Mock and test an emergency rotation Submit heartbeats in tests for groups of validators
  state-chain/pallets/cf-reputation/src/mock.rs
  state-chain/pallets/cf-reputation/src/tests.rs
Due: none

use channels for the multisig event
  engine/src/signing/client/mod.rs
  engine/src/state_chain/sc_observer.rs
Due: none

main compiling, clean up
  engine/src/main.rs
  engine/src/state_chain/sc_observer.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-witnesser-api/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

Alphabetise types.json
  state-chain/types.json
Due: notify-file-change

Broadcast completion.
  state-chain/pallets/cf-transaction-broadcast/src/lib.rs
Due: none

Update types.json (#455)
  state-chain/types.json
Due: notify-file-change

Run CI
  .drone.yml
Due: rust-base

Fixed schnorr singing for eth
  engine/src/signing/crypto/bitcoin_schnorr.rs
Due: none

request -> ceremony_id
  engine/src/state_chain/pallets/vaults.rs
  engine/src/state_chain/sc_observer.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/tests.rs
Due: none

decode relevant events in sc_event
  engine/src/state_chain/sc_event.rs
Due: none

Run CI
  engine/src/lib.rs
Due: none

return to pr
  ci/chainflip-backend-checks/.drone.yml
Due: none

Add seperator lines
  .drone.yml
  ci/chainflip-backend-checks/.drone.yml
  ci/chainflip-integration-tests/.drone.yml
Due: rust-base

move back to single file
  .drone.yml
  ci/chainflip-backend-checks/.drone.yml
  ci/chainflip-backend-release/.drone.yml
  ci/chainflip-integration-tests/.drone.yml
Due: rust-base

move back to single file
  .drone.yml
Due: rust-base

Try with include
  .drone.yml
Due: rust-base

PR
  ci/chainflip-backend-checks/.drone.yml
Due: none

increment subxt nonce after heartbeat submitted
  engine/src/heartbeat.rs
Due: none

increment nonce only on success
  engine/src/heartbeat.rs
Due: none

Run on push to epic
  ci/chainflip-epic-branch/.drone.yml
Due: none

Update event to push
  ci/chainflip-epic-branch/.drone.yml
Due: none
