Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: rust-base, notify-file-change

Path conditions:
  rust-base: any of: Dockerfile.rust-base, .drone.yml
  notify-file-change: any of: engine/config/Default.toml, state-chain/types.json

run . separately
  .drone.yml
Due: rust-base

add build essentials to container
  .drone.yml
Due: rust-base

alpine add cython
  .drone.yml
Due: rust-base

try python3-dev and co
  .drone.yml
Due: rust-base

add cython
  .drone.yml
Due: rust-base

changes
  state-chain/pallets/cf-governance/src/lib.rs
Due: none

try poetry image
  .drone.yml
Due: rust-base

try another poetry image
  .drone.yml
Due: rust-base

add custom dockerfile, and use it
  .drone.yml
  poetry/Dockerfile.poetry
  poetry/poetry-entrypoint.sh
Due: rust-base

use buster
  .drone.yml
Due: rust-base

Change command
  .drone.yml
Due: rust-base

Use custom poetry image
  .drone.yml
Due: rust-base

CD
  .drone.yml
Due: rust-base

Set up nightly
  .drone.yml
  poetry/Dockerfile.poetry
  poetry/poetry-entrypoint.sh
Due: rust-base

Update types.json
  state-chain/types.json
Due: notify-file-change

WIP
  engine/src/eth/key_manager.rs
  engine/src/eth/mod.rs
  engine/src/eth/stake_manager.rs
  engine/src/main.rs
  engine/src/state_chain/sc_observer.rs
Due: none

Add branch exclusions to CI
  ci/single-node-test/.drone.yml
Due: none

Re-enable integration tests (#438)
  .drone.yml
  Cargo.lock
  engine/Cargo.toml
  engine/config/Testing.toml
  engine/src/eth/abis/KeyManager.json
  engine/src/eth/abis/StakeManager.json
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/key_manager.rs
  engine/src/eth/stake_manager.rs
  engine/tests/common.rs
  engine/tests/key_manager_integration.rs
  engine/tests/scripts/setup.sh
  engine/tests/stake_manager_integration.rs
  state-chain/pallets/cf-staking/Cargo.toml
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-witnesser-api/Cargo.toml
Due: rust-base

Submit eth tx directly from sc_observer
  engine/src/eth/mod.rs
  engine/src/state_chain/sc_observer.rs
Due: none

return vault rotation response on success, using fake keys
  engine/src/state_chain/pallets/vaults.rs
  engine/src/state_chain/sc_observer.rs
  state-chain/pallets/cf-vaults/src/lib.rs
Due: none

Instantiable pallet
  state-chain/pallets/cf-reqrep/src/lib.rs
Due: none

First attempt with enums.
  Cargo.lock
  Cargo.toml
  state-chain/pallets/cf-reqrep/Cargo.toml
  state-chain/pallets/cf-reqrep/README.md
  state-chain/pallets/cf-reqrep/src/benchmarking.rs
  state-chain/pallets/cf-reqrep/src/lib.rs
  state-chain/pallets/cf-reqrep/src/mock.rs
  state-chain/pallets/cf-reqrep/src/tests.rs
Due: none

Constrain ReqRep
  state-chain/pallets/cf-reqrep/src/lib.rs
Due: none

Remove benchmarking, add mock and test.
  state-chain/pallets/cf-reqrep/src/benchmarking.rs
  state-chain/pallets/cf-reqrep/src/mock.rs
  state-chain/pallets/cf-reqrep/src/tests.rs
Due: none

Add callbacks for broadcast success / failure.
  state-chain/pallets/cf-transaction-broadcast/src/lib.rs
Due: none

WIP - to do: broadcast outcome.
  state-chain/pallets/cf-transaction-broadcast/src/lib.rs
  state-chain/pallets/cf-transaction-broadcast/src/mock.rs
  state-chain/pallets/cf-transaction-broadcast/src/tests.rs
Due: none

New callback design.
  state-chain/pallets/cf-reqrep/src/lib.rs
Due: none

Some additional comments.
  state-chain/pallets/cf-reqrep/src/lib.rs
Due: none

Fix mock.
  state-chain/pallets/cf-reqrep/src/lib.rs
  state-chain/pallets/cf-reqrep/src/mock.rs
Due: none

Change generics on `BaseConfig`
  state-chain/pallets/cf-transaction-broadcast/src/lib.rs
  state-chain/pallets/cf-transaction-broadcast/src/mock.rs
  state-chain/pallets/cf-transaction-broadcast/src/tests.rs
Due: none

Change constraints on signature Request
  state-chain/pallets/cf-reqrep/Cargo.toml
  state-chain/pallets/cf-reqrep/src/lib.rs
  state-chain/runtime/src/lib.rs
Due: none

Integrate two ReqRep instances with runtime.
  Cargo.lock
  state-chain/pallets/cf-reqrep/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/lib.rs
Due: none

Renaming
  state-chain/pallets/cf-reqrep/src/lib.rs
  state-chain/pallets/cf-reqrep/src/mock.rs
  state-chain/pallets/cf-reqrep/src/tests.rs
  state-chain/runtime/src/lib.rs
Due: none

Fix the test.
  state-chain/pallets/cf-reqrep/src/lib.rs
  state-chain/pallets/cf-reqrep/src/mock.rs
  state-chain/pallets/cf-reqrep/src/tests.rs
Due: none

Try again: pallet_transaction_broadcast
  Cargo.lock
  Cargo.toml
  state-chain/pallets/cf-transaction-broadcast/Cargo.toml
  state-chain/pallets/cf-transaction-broadcast/README.md
  state-chain/pallets/cf-transaction-broadcast/src/lib.rs
  state-chain/pallets/cf-transaction-broadcast/src/mock.rs
  state-chain/pallets/cf-transaction-broadcast/src/tests.rs
Due: none

add logs, clean up
  engine/src/state_chain/sc_observer.rs
Due: none

pass in only web3 to the witnessers
  engine/src/eth/key_manager.rs
  engine/src/eth/mod.rs
  engine/src/eth/stake_manager.rs
  engine/src/main.rs
  engine/src/state_chain/sc_observer.rs
Due: none

Track liveness of a validator as a rolling 8 bit map. Online trait to provide a *current* status of the liveness of a validator and check this when running an auction
  state-chain/pallets/cf-auction/src/lib.rs
  state-chain/pallets/cf-auction/src/mock.rs
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/pallets/cf-reputation/src/tests.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

Document
  state-chain/pallets/cf-reputation/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

remove MQ from sc_observer
  engine/src/main.rs
  engine/src/signing/client/mod.rs
  engine/src/state_chain/sc_observer.rs
Due: none
