Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: rust-base, chainflip-state-chain

rust-base:
  image: plugins/docker
  settings:
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    repo: ghcr.io/chainflip-io/chainflip-backend/rust-base
    dockerfile: Dockerfile.rust-base
    registry: ghcr.io
    tags: latest
  ...

chainflip-state-chain:
  steps:
  - name: rust-base
    image: plugins/docker
    settings:
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
      repo: ghcr.io/chainflip-io/chainflip-backend/rust-base
      dockerfile: Dockerfile.rust-base
      registry: ghcr.io
      tags: latest
  ...

Reduce resources to 2000
  engine/.drone.yml
Due: none

Fix node selectors and sccacche
  .drone.yml
  engine/.drone.yml
  state-chain/.drone.yml
Due: rust-base, chainflip-state-chain

WIP
  Cargo.lock
  engine/Cargo.toml
  engine/src/sc_observer/helpers.rs
  engine/src/sc_observer/runtime.rs
  engine/src/sc_observer/sc_broadcaster.rs
  engine/src/sc_observer/staking.rs
  state-chain/runtime/src/lib.rs
Due: none

Fix build issues.
  state-chain/pallets/cf-witness/Cargo.toml
Due: none

Add minimum TTL as a Config item
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/runtime/src/lib.rs
Due: none

First attempt.
  state-chain/pallets/cf-staking/src/lib.rs
Due: none

Use on_initialize hook rather than OCW.
  state-chain/pallets/cf-staking/src/lib.rs
Due: none

Add a minimum TTL for claims.
  state-chain/pallets/cf-staking/src/lib.rs
Due: none

Typo
  state-chain/runtime/src/lib.rs
Due: none

Basis of new auction pallet
  Cargo.toml
  state-chain/pallets/cf-auction/Cargo.toml
  state-chain/pallets/cf-auction/README.md
  state-chain/pallets/cf-auction/src/lib.rs
  state-chain/pallets/cf-auction/src/mock.rs
  state-chain/pallets/cf-auction/src/tests.rs
  state-chain/pallets/cf-auction/src/types.json
Due: none

Mock and test, not quite working.
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/mock.rs
  state-chain/pallets/cf-staking/src/mock/time_source.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Staking pallet docs. (#94)
  .editorconfig
  state-chain/.rustfmt.toml
  state-chain/pallets/cf-staking/README.md
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-witness/README.md
  state-chain/pallets/cf-witness/src/lib.rs
Due: chainflip-state-chain

Remove session from witness pallet (#96)
  engine/src/sc_observer/runtime.rs
  engine/src/sc_observer/validator.rs
  state-chain/pallets/cf-staking/src/mock.rs
  state-chain/pallets/cf-staking/src/mock/epoch_info.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
  state-chain/pallets/cf-witness/src/lib.rs
  state-chain/pallets/cf-witness/src/mock.rs
  state-chain/pallets/cf-witness/src/tests.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/epoch_info.rs
Due: none

A pallet to run auctions
  state-chain/pallets/cf-auction/README.md
  state-chain/pallets/cf-auction/src/lib.rs
  state-chain/pallets/cf-auction/src/mock.rs
  state-chain/pallets/cf-auction/src/tests.rs
Due: none

Move Auction traits out to trait crate
  state-chain/pallets/cf-auction/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

Finish expiry test.
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/mock.rs
  state-chain/pallets/cf-staking/src/mock/time_source.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Prevent claim requests during auction phase.
  engine/src/sc_observer/staking.rs
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/mock/epoch_info.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

Remove dodgy import.
  state-chain/pallets/cf-staking/src/lib.rs
Due: none

Bid type and update Auction trait
  state-chain/traits/src/lib.rs
Due: none

Start validator integration of auction pallet
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Add events, dispatchables and errors to auction, update mock
  state-chain/pallets/cf-auction/src/lib.rs
  state-chain/pallets/cf-auction/src/mock.rs
Due: none

Prevent claim requests during auction phase. (#99)
  engine/src/sc_observer/staking.rs
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/mock/epoch_info.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/traits/src/lib.rs
Due: none

add resources to jobs
  .drone.yml
  Cargo.lock
  engine/.drone.yml
  state-chain/.drone.yml
Due: rust-base, chainflip-state-chain

add resources to jobs (#100)
  .drone.yml
  Cargo.lock
  engine/.drone.yml
  state-chain/.drone.yml
Due: rust-base, chainflip-state-chain

Refactor out function from pallet into trait AuctionRange type
  state-chain/pallets/cf-auction/src/lib.rs
  state-chain/pallets/cf-auction/src/mock.rs
  state-chain/pallets/cf-auction/src/tests.rs
  state-chain/traits/src/lib.rs
Due: none

More resources for int test
  Dockerfile.rust-base
  engine/.drone.yml
  engine/tests/scripts/setup.sh
Due: rust-base

More memory
  engine/.drone.yml
Due: none

Trigger push
  engine/.drone.yml
Due: none

Remove cargo lock
  Cargo.lock
Due: none

Add tolerations
  .drone.yml
  engine/.drone.yml
  state-chain/.drone.yml
Due: rust-base, chainflip-state-chain

Add tolerations
  engine/.drone.yml
Due: none

Add tolerations
  .drone.yml
Due: rust-base

Add tolerations
  .drone.yml
  state-chain/.drone.yml
Due: rust-base, chainflip-state-chain

Add tolerations (#101)
  .drone.yml
  engine/.drone.yml
  state-chain/.drone.yml
Due: rust-base, chainflip-state-chain

Return current state
  state-chain/pallets/cf-auction/src/lib.rs
Due: none

Integrate auction into validator
  state-chain/pallets/cf-validator/Cargo.toml
  state-chain/pallets/cf-validator/src/lib.rs
Due: none

Small update to auction et al. trait
  state-chain/pallets/cf-auction/src/tests.rs
  state-chain/traits/src/lib.rs
Due: none

Mock and test validator
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-validator/src/tests.rs
Due: none

Add tolerations for engine
  engine/.drone.yml
Due: none

Path conditions:
  rust-base: any of: Dockerfile.rust-base, .drone.yml
  chainflip-state-chain: any of: state-chain/*
