Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: rust-base, notify-file-change

Path conditions:
  rust-base: any of: Dockerfile.rust-base, .drone.yml
  notify-file-change: any of: engine/config/Default.toml, state-chain/types.json

Add secret for do
  .drone.yml
Due: rust-base

Fix size
  .drone.yml
Due: rust-base

There is something to be said for types, simplified
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/traits/src/lib.rs
Due: none

Changes across runtime and types updated
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-witnesser-api/src/mock.rs
  state-chain/runtime/src/lib.rs
  state-chain/types.json
Due: notify-file-change

Remove depends on
  .drone.yml
Due: rust-base

Integration tests passing
  engine/src/eth/abis/KeyManager.json
  engine/src/eth/abis/StakeManager.json
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/key_manager.rs
  engine/src/eth/stake_manager.rs
  engine/tests/key_manager_integration.rs
  engine/tests/scripts/setup.sh
  engine/tests/stake_manager_integration.rs
Due: none

Run through docker
  .drone.yml
Due: rust-base

Deps
  .drone.yml
Due: rust-base

WIP
  Cargo.lock
  engine/Cargo.toml
  state-chain/pallets/cf-staking/Cargo.toml
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-witnesser-api/Cargo.toml
  state-chain/pallets/cf-witnesser-api/src/lib.rs
Due: none

use custo image
  .drone.yml
Due: rust-base

try with id
  .drone.yml
Due: rust-base

source cargo
  .drone.yml
Due: rust-base

source from root
  .drone.yml
Due: rust-base

Try with and
  .drone.yml
Due: rust-base

Direct ref
  .drone.yml
Due: rust-base

new pr workflow
  ci/single-node-test/.drone.yml
Due: none

Fix step name
  ci/single-node-test/.drone.yml
Due: none

Fix deps for prepare-files step
  ci/single-node-test/.drone.yml
Due: none

Use include
  ci/single-node-test/.drone.yml
Due: none

:rocket: tests passing
  Cargo.lock
  state-chain/pallets/cf-staking/Cargo.toml
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-witnesser-api/src/lib.rs
Due: none

Nonce counter impl in vaults (#447)
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/mock.rs
  state-chain/pallets/cf-vaults/src/nonce.rs
  state-chain/pallets/cf-vaults/src/tests.rs
  state-chain/pallets/cf-witnesser-api/src/mock.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/types.json
Due: notify-file-change

clean up
  engine/src/eth/key_manager.rs
  engine/src/eth/stake_manager.rs
  engine/tests/common.rs
  engine/tests/key_manager_integration.rs
  engine/tests/stake_manager_integration.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Fix missing eth event logs
  engine/src/eth/eth_event_streamer.rs
Due: none

test without add development network command in script
  engine/tests/scripts/setup.sh
Due: none

use push
  ci/single-node-test/.drone.yml
Due: none

Feature/ch1794 (#448)
  .drone.yml
  ci/single-node-test/.drone.yml
Due: rust-base

Add branch exclusions
  ci/single-node-test/.drone.yml
Due: none

try not running the script
  .drone.yml
  engine/tests/scripts/setup.sh
Due: rust-base

create the events from the CI directly, no script
  .drone.yml
Due: rust-base

fix
  .drone.yml
Due: rust-base

Remove rebooting testnet on develop branch (#435)
  .drone.yml
Due: rust-base

correct step dependencies
  .drone.yml
Due: rust-base

use a real image
  .drone.yml
Due: rust-base

depend on a step that actually completes
  .drone.yml
Due: rust-base

add poetry install step
  .drone.yml
Due: rust-base

use python image and install curl
  .drone.yml
Due: rust-base

fix args
  .drone.yml
Due: rust-base
