Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: rust-base, notify-file-change

Path conditions:
  rust-base: any of: Dockerfile.rust-base, .drone.yml
  notify-file-change: any of: engine/config/Default.toml, state-chain/types.json

ignore tests that depend on a running state chain
  engine/src/p2p/rpc.rs
Due: none

Move alerts away from staging channel
  .drone.yml
Due: rust-base

Only trigger file change alert on develop
  .drone.yml
Due: rust-base

changes * added claim_with_withdrawal_address unit test * refactored ensure_withdrawal_address
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

remove stale comments
  engine/src/p2p/mod.rs
Due: none

Move alerts away from staging channel (#312)
  .drone.yml
Due: rust-base

Add a check for zero rewards.
  state-chain/pallets/cf-emissions/src/lib.rs
Due: none

renamed ReturnAddressRestricted to WithdrawalAddressRestricted
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

merge peer-to-validator-mapping and release/testnet-debug
  Cargo.lock
  engine/Cargo.toml
  engine/config/Default.toml
  engine/config/Testing.toml
  engine/src/eth/eth_broadcaster.rs
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/stake_manager/mod.rs
  engine/src/eth/stake_manager/stake_manager.rs
  engine/src/eth/stake_manager/stake_manager_sink.rs
  engine/src/main.rs
  engine/src/p2p/rpc.rs
  engine/src/settings.rs
  engine/src/signing/client/mod.rs
  engine/src/state_chain/auction.rs
  engine/src/state_chain/runtime.rs
  engine/src/state_chain/sc_observer.rs
  engine/src/state_chain/validator.rs
  engine/src/temp_event_mapper.rs
  state-chain/pallets/cf-flip/src/lib.rs
Due: notify-file-change

Fix tx fees for invalid accounts.
  state-chain/pallets/cf-flip/src/imbalances.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/on_charge_transaction.rs
  state-chain/pallets/cf-flip/src/tests.rs
Due: none

Formatting
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/tests.rs
Due: none

renamed ensure_withdrawal_address to save_withdrawal_address
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

Make OnKilledAccount more explicit.
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/runtime/src/lib.rs
Due: none

tests compile and pass
  engine/src/state_chain/helpers.rs
Due: none

Refactoring mocks and tests - wip
  state-chain/pallets/cf-vaults/src/chains/mock.rs
  state-chain/pallets/cf-vaults/src/chains/mod.rs
  state-chain/pallets/cf-vaults/src/chains/test.rs
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/pallets/cf-vaults/src/rotation.rs
  state-chain/pallets/cf-vaults/src/tests.rs
Due: none

rename id to my_validator_id in signing client and remove unused AuctionEnded event in sc_event
  engine/src/main.rs
  engine/src/signing/client/client_inner/client_inner.rs
  engine/src/signing/client/mod.rs
  engine/src/state_chain/sc_event.rs
Due: none

Add Flip reserves. (#255)
  Cargo.lock
  Cargo.toml
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-emissions/Cargo.toml
  state-chain/pallets/cf-emissions/README.md
  state-chain/pallets/cf-emissions/src/benchmarking.rs
  state-chain/pallets/cf-emissions/src/lib.rs
  state-chain/pallets/cf-emissions/src/mock.rs
  state-chain/pallets/cf-emissions/src/tests.rs
  state-chain/pallets/cf-flip/README.md
  state-chain/pallets/cf-flip/src/imbalances.rs
  state-chain/pallets/cf-flip/src/lib.rs
  state-chain/pallets/cf-flip/src/mock.rs
  state-chain/pallets/cf-flip/src/on_charge_transaction.rs
  state-chain/pallets/cf-flip/src/tests.rs
  state-chain/pallets/cf-rewards/Cargo.toml
  state-chain/pallets/cf-rewards/README.md
  state-chain/pallets/cf-rewards/src/benchmarking.rs
  state-chain/pallets/cf-rewards/src/lib.rs
  state-chain/pallets/cf-rewards/src/mock.rs
  state-chain/pallets/cf-rewards/src/tests.rs
  state-chain/pallets/cf-staking/src/mock/ensure_witnessed.rs
  state-chain/pallets/cf-staking/src/mock/witnesser.rs
  state-chain/pallets/cf-staking/src/tests.rs
  state-chain/pallets/cf-validator/src/lib.rs
  state-chain/pallets/cf-validator/src/mock.rs
  state-chain/pallets/cf-witness/src/lib.rs
  state-chain/runtime/Cargo.toml
  state-chain/runtime/src/chainflip.rs
  state-chain/runtime/src/lib.rs
  state-chain/traits/src/lib.rs
  state-chain/traits/src/mocks.rs
  state-chain/traits/src/mocks/ensure_witnessed.rs
  state-chain/traits/src/mocks/time_source.rs
  state-chain/traits/src/mocks/witnesser.rs
Due: none

remove u64 magic string
  engine/src/p2p/rpc.rs
Due: none

changes * refactored save_withdrawal_address * updated unit test
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

fix test
  engine/src/signing/client/client_inner/tests/db_tests.rs
Due: none

Rename id to my_validator_id and some other clean up items (#317)
  engine/src/main.rs
  engine/src/p2p/rpc.rs
  engine/src/signing/client/client_inner/client_inner.rs
  engine/src/signing/client/client_inner/tests/db_tests.rs
  engine/src/signing/client/mod.rs
  engine/src/state_chain/sc_event.rs
Due: none

use the hostname when connecting to sc for p2p comms
  engine/src/main.rs
Due: none

Add useful logs for debugging
  engine/src/eth/eth_broadcaster.rs
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/stake_manager/stake_manager.rs
  engine/src/eth/stake_manager/stake_manager_sink.rs
  engine/src/main.rs
  engine/src/p2p/conductor.rs
  engine/src/p2p/rpc.rs
  engine/src/signing/client/mod.rs
  engine/src/state_chain/sc_observer.rs
  engine/src/temp_event_mapper.rs
Due: none

use the hostname when connecting to sc for p2p comms (#318)
  engine/src/main.rs
Due: none

revert accidentally removed ws_port from main
  engine/src/main.rs
Due: none

Add useful logs for debugging to CFE (#319)
  engine/src/eth/eth_broadcaster.rs
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/stake_manager/stake_manager.rs
  engine/src/eth/stake_manager/stake_manager_sink.rs
  engine/src/p2p/conductor.rs
  engine/src/p2p/rpc.rs
  engine/src/signing/client/mod.rs
  engine/src/state_chain/sc_observer.rs
  engine/src/temp_event_mapper.rs
Due: none

add type sizes and support for emissions pallet
  Cargo.lock
  engine/Cargo.toml
  engine/src/state_chain/emissions.rs
  engine/src/state_chain/helpers.rs
  engine/src/state_chain/mod.rs
  engine/src/state_chain/runtime.rs
  engine/src/state_chain/sc_observer.rs
Due: none

remove stale comment
  engine/src/state_chain/runtime.rs
Due: none

remove unused import
  engine/src/state_chain/runtime.rs
Due: none

changes * added FailedStakeAttempt event * updated unit tests
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

add from_block to eth settings
  engine/config/Default.toml
  engine/config/Testing.toml
  engine/src/eth/stake_manager/mod.rs
  engine/src/settings.rs
Due: notify-file-change

revert health check change
  engine/src/settings.rs
Due: none

add from_block to eth settings (#321)
  engine/config/Default.toml
  engine/config/Testing.toml
  engine/src/eth/stake_manager/mod.rs
  engine/src/settings.rs
Due: notify-file-change

use endpoint for state chain settings
  engine/config/Default.toml
  engine/config/Testing.toml
  engine/src/settings.rs
  engine/src/state_chain/helpers.rs
Due: notify-file-change

refactored check_withdrawal_address
  state-chain/pallets/cf-staking/src/lib.rs
Due: none

use endpoints for protocol flexibility in settings
  engine/config/Default.toml
  engine/config/Testing.toml
  engine/src/eth/stake_manager/stake_manager_sink.rs
  engine/src/main.rs
  engine/src/mq/nats_client.rs
  engine/src/settings.rs
Due: notify-file-change

add type sizes and support for emissions pallet (#320)
  Cargo.lock
  engine/Cargo.toml
  engine/src/state_chain/emissions.rs
  engine/src/state_chain/helpers.rs
  engine/src/state_chain/mod.rs
  engine/src/state_chain/runtime.rs
  engine/src/state_chain/sc_observer.rs
Due: none

removed needless import
  state-chain/pallets/cf-staking/src/lib.rs
Due: none

changes * removed ; to directly fire return * added unit test: stake_with_provided_withdrawal_only_on_first_attempt
  state-chain/pallets/cf-staking/src/lib.rs
  state-chain/pallets/cf-staking/src/tests.rs
Due: none

added missing ReserveId type
  state-chain/types.json
Due: notify-file-change
