Repository chainflip-io/chainflip-backend: changes, and which Drone steps are due for each by the changed paths.
All: rust-base, notify-file-change

rust-base:
  resources:
    limits:
      cpu: 3000
  image: plugins/docker
  settings:
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    repo: ghcr.io/chainflip-io/chainflip-backend/rust-base
    dockerfile: Dockerfile.rust-base
    registry: ghcr.io
    tags: latest
  ...

notify-file-change:
  image: appleboy/drone-discord
  settings:
    username: Testnet Bot
    webhook_id:
      from_secret: discord_webhook_id
    webhook_token:
      from_secret: discord_webhook_token
    message: 'ℹ Config updated ℹ
  
  ...

Fix logging message
  engine/src/eth/stake_manager.rs
Due: none

Formatting
  engine/src/eth/eth_tx_encoding/set_agg_key_with_agg_key.rs
  engine/src/eth/key_manager.rs
  engine/src/eth/stake_manager.rs
  engine/src/main.rs
Due: none

Run check instead of compile
  .drone.yml
Due: rust-base

Comment
  .drone.yml
Due: rust-base

benchmark subsequent heartbeats and liveness
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/lib.rs
Due: none

fmt and build after merge
  state-chain/pallets/cf-reputation/src/benchmarking.rs
  state-chain/pallets/cf-reputation/src/lib.rs
Due: none

Remove mut from settings
  engine/src/eth/stake_manager.rs
Due: none

Change node_id_from_log into closure
  engine/src/eth/stake_manager.rs
Due: none

Rename parser_closure to decode_log_closure for more consistent naming
  engine/src/eth/key_manager.rs
  engine/src/eth/stake_manager.rs
Due: none

Remove rebooting testnet on develop branch
  .drone.yml
Due: rust-base

Restore branch changes
  .drone.yml
Due: rust-base

add comment
  .drone.yml
Due: rust-base

Delete rust-base dependency
  .drone.yml
Due: rust-base

Resolve bug
  .drone.yml
Due: rust-base

add the types for pallet vault support in subxt
  Cargo.lock
  engine/Cargo.toml
  engine/src/state_chain/runtime.rs
  state-chain/pallets/cf-vaults/src/lib.rs
Due: none

Update types.json
  state-chain/pallets/cf-vaults/src/lib.rs
  state-chain/types.json
Due: notify-file-change

changes: * introduced ActiveProposals array * refactored processing of proposals * removed executed and expired attributes * refactored approve proposals extrinsic
  state-chain/node/src/chain_spec.rs
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-governance/src/mock.rs
  state-chain/pallets/cf-governance/src/tests.rs
Due: none

Re-enable integration tests
  .drone.yml
Due: rust-base

Check drone var exists
  engine/tests/scripts/setup.sh
Due: none

Fix Integration Tests
  engine/src/eth/eth_event_streamer.rs
  engine/src/eth/key_manager.rs
  engine/src/eth/mod.rs
  engine/src/eth/stake_manager.rs
  engine/tests/key_manager_integration.rs
  engine/tests/stake_manager_integration.rs
Due: none

remove set-agg-key-with-agg-key, compiles
  engine/src/eth/eth_broadcaster.rs
  engine/src/eth/eth_tx_encoding/mod.rs
  engine/src/eth/eth_tx_encoding/set_agg_key_with_agg_key.rs
  engine/src/eth/mod.rs
  engine/src/main.rs
Due: none

Use hardhat
  .drone.yml
  Dockerfile.hardhat
Due: rust-base

Use hardhat
  .drone.yml
Due: rust-base

Fix drone yml
  .drone.yml
Due: rust-base

Change wrkdir
  .drone.yml
Due: rust-base

clone to wrkdir
  .drone.yml
Due: rust-base

absolute workdir
  .drone.yml
Due: rust-base

with sleep
  .drone.yml
Due: rust-base

remove unused event queues from MQ
  engine/src/mq/mq.rs
  engine/src/mq/nats_client.rs
  engine/src/state_chain/sc_event.rs
Due: none

run as detached
  .drone.yml
Due: rust-base

npm install
  .drone.yml
Due: rust-base

depends
  .drone.yml
  engine/tests/scripts/setup.sh
Due: rust-base

clone specific branch
  .drone.yml
Due: rust-base

changes
  state-chain/pallets/cf-governance/src/lib.rs
  state-chain/pallets/cf-governance/src/tests.rs
Due: none

clone specific
  .drone.yml
Due: rust-base

Clean up sc observer and sc_event
  engine/src/state_chain/sc_event.rs
  engine/src/state_chain/sc_observer.rs
Due: none

Add harthat setup
  .drone.yml
  engine/tests/scripts/setup.sh
Due: rust-base

Here we go
  engine/tests/scripts/setup.sh
Due: none

Path conditions:
  rust-base: any of: Dockerfile.rust-base, .drone.yml
  notify-file-change: any of: engine/config/Default.toml, state-chain/types.json
